<div class="container mt-3">
  <h1 class="text-center">
    Let's Become our Member! <br /><a
      class="btn btn-success"
      routerLink="/list-member"
      >List Member</a
    >
  </h1>
  <hr />
</div>

<!-- form -->
<div class="container col-md-5">
  <form (ngSubmit)="add()">
    <div class="mb-3">
      <label for="name" class="form-label">Nama Lengkap</label>
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Nama anda ..."
        [(ngModel)]="formData.name"
      />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Email</label>
      <input
        type="text"
        class="form-control"
        name="email"
        placeholder="Email anda ..."
        [(ngModel)]="formData.email"
      />
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Umur</label>
      <input
        type="text"
        class="form-control"
        name="age"
        placeholder="age anda ..."
        [(ngModel)]="formData.age"
      />
    </div>
    <div class="mb-3">
      <label for="job" class="form-label">Pekerjaan</label>
      <input
        type="text"
        class="form-control"
        name="job"
        placeholder="job anda ..."
        [(ngModel)]="formData.job"
      />
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>
