<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">AngularApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teams" routerLinkActive="/teams"
            >Our Team</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/features"
            routerLinkActive="/features"
            >Features</a
          >
        </li>
      </ul>
      <button class="btn btn-outline-light">Sign Up</button>
    </div>
  </div>
</nav>
