<!-- banner -->
<section class="mt-3 mb-5">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 pt-5 pt-lg-0 order-0 order-2 order-lg-1 justify-content-center"
      >
        <!-- tulisan kiri -->
        <h1>
          Continous Learning and Keep Up to Date
          <strong class="text-primary">Inixindo Bandung</strong>
        </h1>
        <div class="my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non magnam
          perferendis nihil iusto adipisci omnis nemo? Odit corporis ducimus
          delectus, veniam aliquam labore est, sed accusantium qui repudiandae
          et porro.
        </div>
        <div>
          <a href="" class="btn btn-outline-primary"> Get Started</a>
        </div>
      </div>
      <!-- gambar -->
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="assets/img/banner.svg" alt="" class="img-fluid animation" />
      </div>
    </div>
  </div>
</section>
